:root {
    --box-size: 2.4em;
    --border-width: 1.5px;
    --border-style: var(--border-width) solid #000000;
    --border-radius: 0.4em;
    --between-weeks: 0.7em;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#calendar {
    font-size: 7.6pt;
    display: inline-block;
}

.no-border {
    border-color: transparent !important;
}

.blackout {
    background: black;
}

/* Grid */

.month {
    display: grid;
    grid-template-columns: 6em repeat(6, auto);
    grid-gap: var(--between-weeks);
}

.week {
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.day {
    width: var(--box-size);
    height: var(--box-size);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* Borders */

.week {
    border-left: var(--border-style);
    border-right: var(--border-style);
}

.first-month .week {
    border-top: var(--border-style);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.last-month .week {
    border-bottom: var(--border-style);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.day {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
}

.day:last-of-type {
    border-right: none;
}

.last-month .day {
    border-bottom: none;
}
